& when (@critical) {
    .switcher-currency {
        .switcher-options {
            .switcher-trigger {
                background-repeat: no-repeat;
                background-size: 25px 18.75px;
                background-position-y: center;
                padding-left: 30px !important;

                .currency-separator {
                    display: none;
                }

                .currency-title {
                    display: none;
                }
            }

            .switcher-dropdown {
                left: 0;
                min-width: unset !important;
                width: fit-content !important;

                .switcher-option {
                    a {
                        background-repeat: no-repeat !important;
                        background-size: 25px 18.75px !important;
                        background-position-y: center !important;
                        line-height: 28px;
                        margin: 5px;
                        padding: 0 0 0 30px !important;
                        display: flex !important;
                        justify-content: start;
                        gap: 3px;

                        .currency-code {
                            min-width: 30px;
                        }

                        .currency-separator {
                            display: none;
                        }

                        .currency-title {
                            display: none;
                            opacity: 0.8;
                            font-size: 0.9em;
                        }
                    }
                }
            }

            @media @media-md {
                .switcher-dropdown {
                    max-height: 300px;
                    overflow-y: auto;
                }
            }
        }
    }
}
